    <!-- ======= Top Bar ======= -->
    <section
      id="topbar"
      class="d-flex align-items-center fixed-top topbar-transparent"
    >
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start"
      >
        <i class="bi bi-phone d-flex align-items-center"
          ><span>+216 53 283 233</span></i
        >
        <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"
          ><span>Mon-Thu: 12:00 AM - 23:00 PM</span></i
        >
        <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"
          ><span>Fri-Sun: 12:00 AM - 00:00 PM</span></i
        >
      </div>
    </section>

    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top d-flex align-items-center header-transparent"
    >
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <div class="logo me-auto">
          <h1><a href="index.html">PastaCosi</a></h1>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
            <li><a class="nav-link scrollto" href="#events">Events</a></li>
            <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="#book-a-table" class="book-a-table-btn scrollto"
          >Book a table</a
        >
      </div>
    </header>
    <!-- End Header -->

<router-outlet></router-outlet>



    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Pasta Cosi</h3>
        <p>
          Pasta Cosi is specialized in Pasta with Parmigiano, Risotto, Salads &
          Raclette
        </p>
        <div class="social-links">
          <a href="https://www.facebook.com/pastacositn/" class="facebook"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="https://www.instagram.com/pastacositn/" class="instagram"
            ><i class="bx bxl-instagram"></i
          ></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Pasta Cosi</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by
          <a href="https://github.com/ahmed-aouinti" target="_blank"
            >Aouinti_Ahmed</a
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
